%% for make *.erl file
{erl_opts, [
    warnings_as_errors,
    {i, "include/msg"},
    {i, "include/proto"}
]}.

{project_plugins, [
    {rebar3_gpb_rpc_plugin, {git, "https://github.com/feng19/rebar3_gpb_rpc_plugin.git", {tag, "1.3.1"}}}
]}.

{gpb_opts, [
    {i, "proto"},
    msg_name_to_snake_case,
    strings_as_binaries,
    include_as_lib,
%%    use_packages
%%    {nif, true},
    {verify, always},
    {o_erl, "src/proto"},
    {o_hrl, "include/proto"},
    {module_name_suffix, "_pb"}
]}.

{gpb_rpc_opts, [
    {router, "proto/msg.proto"},
    {msg_prefix, "msg_"},
    {mod_prefix, "mod_"},
    {o_erl, "src/msg"},
    {o_hrl, "include/msg"},
    {erl_tpl, "templates/gpb_rpc/gpb_rpc.erl.tpl"},
    {hrl_tpl, "templates/gpb_rpc/gpb_rpc.hrl.tpl"},
    {router_erl_tpl, "templates/gpb_rpc/gpb_rpc_router.erl.tpl"},
    {router_hrl_tpl, "templates/gpb_rpc/gpb_rpc_router.hrl.tpl"}
]}.

%% for deps
{deps, [
    {gpb, "4.10.0"}
]}.
