%% for make *.erl file
{erl_opts, [
    warnings_as_errors,
    {i, "_build/default/plugins/gpb/include"}
]}.

%% for plugins
{plugins, [
    {rebar3_gpb_rpc_plugin, {git, "https://github.com/feng19/rebar3_gpb_rpc_plugin.git", {branch, "master"}}}
]}.

%% for make *.proto file
{provider_hooks, [
    {pre, [
%%      for gpb
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}},
%%      for gpb rpc
        {compile, {gpb_rpc, compile}},
        {clean, {gpb_rpc, clean}}
    ]}
]}.

{gpb_opts, [
    {i, "proto"},
    strings_as_binaries,
%%    use_packages
%%    {nif, true},
    {verify, always},
    {o_erl, "src/proto"},
    {o_hrl, "include/proto"},
    {module_name_suffix, "_pb"}
]}.

{gpb_rpc_opts, [
    {msg_prefix, "msg_"},
    {mod_prefix, "mod_"},
    {o_erl, "src/msg"},
    {o_hrl, "include/msg"},
    {erl_tpl, "templates/gpb_rpc/gpb_rpc.erl.tpl"},
    {hrl_tpl, "templates/gpb_rpc/gpb_rpc.hrl.tpl"}
]}.

%% for deps
{deps, []}.
